.manageServiceRowWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    /* Allows horizontal scrolling */
    padding: 2px;
    max-width: 100%;
    /* Ensure it takes up full available width */
}

.manageServiceCard {
    flex: 0 0 auto;
    /* Prevents cards from shrinking */
    width: 300px;
    /* Consistent width for each card */
}


.manageServiceContainer {
    font-family: Roboto, sans-serif;
    padding: 20px;
    width: 100%;
}

.manageServiceCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.manageServiceCard {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;

}

.manageServiceFormGroup {
    margin-bottom: 10px;
}

.manageServiceCategoryHeader {
    display: flex;
    align-items: center;
    border-radius: 2.5px;
    border-left: none;
    border-right: none;
    padding: 5px;
    margin: -10px -10px 10px -10px;
}

.manageServiceCategoryHeader span {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.manageServiceAddButton,
.manageServiceHamburgerIcon {
    background: none;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #000;
}

.manageServiceAddButton {
    margin-left: auto;
    margin-right: 10px;
}

.manageServiceHamburgerIcon {
    margin-left: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.manageServiceMenu {
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 0px;
    padding: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.manageServiceMenuItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    font-size: 14px;
}

.manageServiceMenuItem.selected {
    background-color: #f0f0f0;
}

.manageServiceMenuItem:last-child {
    border-bottom: none;
}

.manageServiceMenuItem:hover {
    background-color: #e0e0e0;
}

.manageServiceIconGroup {
    display: flex;
    gap: 10px;
}

.manageServiceEditIcon,
.manageServiceDeleteIcon {
    cursor: pointer;
}

.manageServiceEditCategoryForm,
.manageServiceEditSubCategoryForm {
    margin-top: -1.5px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: 284px;
}

.manageServiceInputWrapper {
    max-height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

.manageServiceEditCategoryForm h3,
.manageServiceEditSubCategoryForm h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
}

.manageServiceInputContainer {
    border-bottom: 1px solid #000000;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    margin-bottom: 10px;
    padding: 10px;
    width: 99.9%;
}

.manageServiceUploadContainer {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99.9%;
}

.manageServiceUploadIconLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
}

.manageServiceUploadIcon {
    font-size: 1.2em;
    margin-left: 10px;
}

.manageServiceUploadPreview {
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #000000;
    border-radius: 2.5px;
}

.manageServiceBottomBorderInput {
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px;
    outline: none;
    transition: border-bottom-color 0.3s;
    font-size: 14px;
    width: 95%;
}

.manageServiceBottomBorderInput:focus {
    border-bottom-color: #039F54;
}

.manageServiceEditCategoryForm label,
.manageServiceEditSubCategoryForm label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.manageServiceEditCategoryForm select,
.manageServiceEditSubCategoryForm select {
    border: none;
    padding: 10px;
    outline: none;
    font-size: 14px;
    transition: border-bottom-color 0.3s;
    width: 100%;
}

.manageServiceEditCategoryForm select:focus,
.manageServiceEditSubCategoryForm select:focus {
    border-bottom-color: #039F54;
}

.manageServiceEditCategoryForm .submitButton,
.manageServiceEditSubCategoryForm .submitButton {
    background-color: #030B33;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.manageServiceEditCategoryForm .submitButton:hover,
.manageServiceEditSubCategoryForm .submitButton:hover {
    background-color: #444;
}

.manageServiceEditServiceForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 25px;
    border: 1px solid #000000;
    border-radius: 2.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manageServiceTextareaInput {
    border: 1px solid #000;
    padding: 10px;
    outline: none;
    font-size: 14px;
    width: 100%;
    resize: vertical;
    height: 100px;
    border-radius: 5px;
}

.manageServiceTextareaInput:focus {
    border-color: #039F54;
}

.manageServiceToggleGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manageServiceToggleInput {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.manageServiceToggleInput:checked {
    background-color: green;
}

.manageServiceToggleInput::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.manageServiceToggleInput:checked::before {
    transform: translateX(20px);
}

.manageServiceSubmitButton {
    background-color: #030B33;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 70%;
    align-self: flex-end;
}

.manageServiceSubmitButton:hover {
    background-color: #444;
}

.manageServiceFileUpload {
    display: none;
}

#manageServiceUpdateCategoryButton,
#manageServiceUpdateSubCategoryButton,
#manageServiceUpdateServiceVariantButton {
    background-color: #030B33;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#manageServiceUpdateCategoryButton:hover,
#manageServiceUpdateSubCategoryButton:hover,
#manageServiceUpdateServiceVariantButton:hover {
    background-color: #444;
}



.manageServicePreviewContainer {
    text-align: center;
    margin-top: 10px;
}

.manageServicePreviewImage {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #000;
    border-radius: 5px;
}

.loadingMessage {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.uiVariantDropdown {
    background-color: white;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px;
    margin: -2rem 6.5rem;
}