/* orderspopup.css */

.orders-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders-popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 1200px;
    max-height: 80%;
    overflow: auto;
    /* Enable scrollbars if content overflows */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.orders-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 26px;
    width: 2rem;
    height: 2rem
}

h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    font-size: 14px;
}

table table {
    margin-top: 10px;
}

.scroll-container {
    max-height: 400px;
    /* Adjust based on available space */
    overflow-y: auto;
    overflow-x: auto;
}