.add-inclusion-container {
    font-family: Roboto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    background-color: #fff;
}

/* Styling for form */
.add-inclusion-form {
    display: flex;
    flex-direction: column;
}

.add-inclusion-form .inclusion-form-group {
    margin-bottom: 15px;
}

.add-inclusion-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-inclusion-form input,
.add-inclusion-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-inclusion-item-button,
.add-inclusion-button {
    background-color: #030B33;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.add-inclusion-item-button:hover,
.add-inclusion-button:hover {
    background-color: #030B33;
}

/* Exclusion card styling */
.exclusions-container {
    margin-top: 10px;
}

.exclusion-card {
    background-color: #f9f9f9;
    /* Light background for the card */
    border: 1px solid #ccc;
    /* Border to define the card */
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    /* Spacing between cards */
    display: flex;
    align-items: center;
}

.exclusion-card label {
    margin-right: 10px;
    font-weight: normal;
    /* Make label text less bold */
}

.exclusion-card input {
    flex-grow: 1;
    /* Make input take up remaining space */
    margin-right: 10px;
}

.add-exclusion-icon {
    cursor: pointer;
    color: #030B33;
    /* Navy blue color for the icon */
    font-size: 18px;
}

.add-exclusion-icon:hover {
    color: #030B33;
    /* Keep the hover color consistent */
}