.mainContainer {
    display: grid;
    grid-template-columns: 21.9% 75%;
    height: auto;
    border: 1px solid black;
}

.sidebar {
    padding: 2rem 1rem;
    border-right: 1px solid #030B33;
    border-bottom: 1px solid #030B33;
    height: 1650px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.sidebar div {
    padding: 1px;
    padding-bottom: 1px;
    width: 100%;
    height: 52px;
    border-radius: 50px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.sidebar div:hover {
    background-color: #e0e0e0;
}

.sidebar div:focus {
    outline: none;
    border: none;
}

.sidebar div.active,
.dropdown-menu div.active {
    background-color: #030B33;
    color: white;
    border-radius: 30px;
}

.dropdown {
    width: 200px;
    transition: height 0.3s ease;
    overflow: hidden;
}

.dropdown-header {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #030B33;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    height: 30px;
    line-height: 1;
    z-index: 1;
    border: none;
}

.dropdown-header:hover,
.dropdown-header:focus {
    background-color: #e0e0e0;
    color: black;
    border: none;
    outline: none;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    z-index: 0;
    border: none;
}

.dropdown-menu div {
    background-color: #030B33;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.dropdown-menu div:hover,
.dropdown-menu div:focus {
    background-color: #e0e0e0;
    color: black;
    border: none;
    outline: none;
}

.dropdown-menu div:not(:last-child) {
    border-bottom: 1px solid #030B33;
}

.dropdown.active {
    background-color: #030B33;
    color: white;
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.dropdown.serviceManagerDropdown.active,
.dropdown.promotionsDropdown.active,
.dropdown.marketingDropdown.active,
.dropdown.packagesDropdown.active,
.dropdown.bannersDropdown.active,
.dropdown.inductionDropdown.active {
    height: 210px;
    /* Adjusted height for potentially multiple items */
}