.provider-form-unique {
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    max-height: 1500px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
}

/* Scrollbar styling */
.provider-form-content::-webkit-scrollbar {
    width: 8px;
}

.provider-form-content::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 4px;
}

.provider-form-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.provider-form-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: #ccc;
}

.provider-form-unique h2 {
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.provider-tabs-unique {
    display: flex;
    margin: 0;
    width: 80%;
}

.provider-tab-unique {
    padding: 10px 30px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-bottom: none;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s, color 0.3s;
    flex: 1;
    text-align: center;
    position: relative;
}

.provider-tab-unique::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    background-color: red;
    transition: width 0.3s ease-in-out;
}

.provider-tab-unique.active::after {
    width: 70%;
}

.provider-tab-unique.active {
    background-color: white;
    color: red;
    border-radius: 0%;
}

.provider-tab-unique:hover {
    background-color: #fffefe;
}

.provider-form-content {
    flex: 1;
    overflow: auto;
    padding: 10px 0;
    width: 100%;
    height: inherit;
}

.provider-form-unique form,
.under-verification-unique {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.provider-form-unique form div,
.under-verification-unique div {
    margin-bottom: 10px;
    width: 100%;
}

.provider-form-unique label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.provider-form-unique input {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.provider-form-unique .generate-otp-button {
    padding: 1px 2px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    align-self: flex-start;
    display: inline-block;
    margin-left: 1px;
    max-width: 80px;
    height: 30px;
}

.provider-form-unique .generate-otp-button:hover {
    background-color: #e74c3c;
}

/* .provider-form-unique button {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
}

.provider-form-unique button:hover {
    background-color: #ffffff;
} */

/* Separate styling for submit button */
.provider-form-unique .submit-button {
    background-color: #3A436E;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    margin-top: 20px;
    border-radius: 4px;
    width: 100%;
    align-self: center;
}

.provider-form-unique .submit-button:hover {
    background-color: #2c3250;
}

/* Providers table styling */
.providers-table-container-unique {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}

.providers-table-unique {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Roboto", sans-serif;
}

.providers-table-unique th {
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    z-index: 1;
}



.providers-table-unique tbody {
    overflow-y: auto;
    height: 100px;
    padding: 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
    /* adjust the height as needed */
}

.providers-table-unique td {
    padding: 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ccc;
    font-family: "Roboto", sans-serif;
}

.providers-table-unique th {
    background-color: #f8f8f8;
    color: black;
    font-weight: bold;
    border-radius: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.providers-table-unique th:first-child {
    border-left: none;
}

.providers-table-unique th:last-child {
    border-right: none;
}

.providers-table-unique td.status-indicator-unique {
    border: none;
}

.providers-table-unique td.actions-unique {
    border: none;
}

.status-indicator-unique {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.status-indicator-unique.online {
    background-color: green;
}

.status-indicator-unique.offline {
    background-color: red;
}

.actions-unique {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

.actionIcon-unique {
    cursor: pointer;
    font-size: 1rem;
    color: black;
    border: none;
}

/* Search bar styling */
.searchBar-unique {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
}

.searchIcon-unique {
    position: relative;
    left: 25px;
    color: #888;
    font-size: 18px;
    pointer-events: none;
}

.searchBar-unique input {
    width: 200px;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    .providers-table-container-unique {
        padding: 10px;
        margin: 10px 0;
    }

    .searchBar-unique input {
        width: 100%;
    }

    .providers-table-unique th,
    .providers-table-unique td {
        padding: 4px;
        font-size: 12px;
    }
}

.provider-verify-button {
    background-color: #000e54;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.provider-verify-button {
    background-color: #000f58;
}

.provider-verify-button:hover {
    background-color: #001caa;
}

.provider-verify-button:active {
    transform: translateY(2px);
}

.provider-verify-button .FaArrowRight {
    margin-left: 10px;
    font-size: 14px;
    color: #000f58;
}

/* made actions column sticky */

.providers-table-unique td.actions-unique {
    position: sticky;
    right: 0;
    background-color: #f8f8f8;
    z-index: 1;

}

.providers-table-unique th.actions-unique {
    position: sticky;
    right: 0;
    background-color: #f8f8f8;
    z-index: 1;
}

.providers-table-unique tr.actions-unique {
    border-bottom: #ccc
}


.provider-image-unique {
    width: 50px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Make it circular */
    object-fit: cover;
    /* Ensure the image covers the area without distortion */
}