.form-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    row-gap: 25px;
}
.submit-button{
    width: 725px;
    height: 2.5rem;
    background-color: #FFC107;
    color: white;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;
}
.submit-button:hover{
    background-color: #FFC107;
}
.universal-con{
    /* border: 1px solid black; */
}
.universal-con h1{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
    padding: 1rem;
}
.universal-buttons{
     display: flex;
     justify-content: space-evenly;
     font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: center;

}
.add-package-con{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.package-item{
    /* border: 1px solid black; */
    min-width: 25rem;
    min-height: 20rem;
    padding: 1rem;

}

/* edit packages */
.universal-edit-con{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20rem;
    padding: 1rem;
    gap: 10px;
}
.u-main-con h1{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;
    margin-left: 4rem;

}
.universal-edit{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    /* border: 1px solid black; */
    
}
.universal-edit p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    margin: 0px;

}
.universal-edit input,textarea{
    width: 15rem;
    height: 2rem;
    font-family: Roboto;
    font-size: 18.66px;
    font-weight: 400;
    line-height: 35.49px;
    text-align: left;


}
.update-button{
    width: 15rem;
    background-color: #FFC107;
    height: 2.5rem;
    color: white;
    font-family: Roboto;
font-size: 20.47px;
font-weight: 500;
line-height: 33.36px;
text-align: center;
border: none;
margin: 1rem;

}
.universal-edit-notify{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.universal-edit-notify input{
    width: 30px;
    height: 30px;
}
.universal-edit-notify p{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;

}


/* manage */

.u-manage-con{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0rem;
    row-gap: 2rem;
}
.u-manage-sub-con{
    min-width: 579px;
    min-height: 536p;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* padding: 1rem; */
  
}
.u-manage-buttons{
    display: grid;
    grid-template-columns: 70% 15% 15%;
    justify-content: center;
    align-items: center;
    background-color:  #FDE9AD;
    padding: 0rem 1rem;
}
.u-manage-buttons h3{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    line-height: 22.5px;
    text-align: left;

}
.u-manage-sub-con p{
    padding: 0rem 1rem;

}
.u-manage-buttons:hover{
    cursor: pointer;
}


/* providerpackage.css */
#textFieldCustom {
    width: 725px;
    height: 89px;
    margin-bottom: 0px; /* Remove margin between text fields */
    font-family: Roboto;
font-size: 23.66px;
font-weight: 400;
line-height: 35.49px;
text-align: left;

  }
  