.table-info {
    margin-top: 20px;
}

.record-count {
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.record-count h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.table-wrapper {
    max-width: 100%;
    margin: 20px auto;
    overflow-x: auto;
}

.locations-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.locations-table th,
.locations-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.locations-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.locations-table th:active {
    background-color: #e0e0e0;
}

.locations-table td {
    position: relative;
}

.edit-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #000000;
}

.delete-icon {
    color: #4d4d4d;
    cursor: pointer;
}

.delete-icon:hover {
    color: #000000;
}

.add-tier-btn {
    padding: 5px 10px;
    color: #ffffff;
    background-color: #d16007;
    border-radius: 10%;
}