.locations-container {
    padding: 20px;
    font-family: Roboto, sans-serif;
}

.tabs-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
}

.tab-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    color: black;
}

.tab-button.active {
    font-weight: bold;
    border-bottom: 2px solid red;
}

.tab-content {
    margin-top: 20px;
}