.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: transparent;
}

.arrow-icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.toggle-button:hover .arrow-icon {
    transform: translateX(5px);
}

.locations-container {
    margin-top: 20px;
}