/* Container styles */
.tier-detail-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Header styles */
.tier-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tier-detail-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tier-detail-edit-icon {
    background: none;
    border: none;
    cursor: pointer;
}

/* Pin codes section */
.tier-detail-pincode-section h3 {
    margin-top: 20px;
    font-size: 18px;
}

/* Toggle buttons */
.tier-detail-toggle-buttons {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.tier-detail-toggle-wrapper {
    display: flex;
    background-color: #333;
    border-radius: 25px;
    padding: 0;
}

.tier-detail-toggle-btn {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #333;
    background-color: white;
    color: #333;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    /* Ensures content inside button is vertically centered */
}

.tier-detail-toggle-btn.active {
    background-color: #333;
    color: white;
}

/* Green check icon inside the button */
.tier-detail-green-check-icon {
    color: #28a745;
    font-size: 18px;
    margin-left: 10px;
    /* Adds spacing between text and icon */
}

.tier-detail-toggle-btn.inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Manage buttons */
.tier-detail-manage-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.ui.orange.button.tier-detail-styled-btn {
    background-color: #ff8c00;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.ui.orange.button.tier-detail-styled-btn:hover {
    background-color: #ff9b21;
}

/* Dropdown styles */
.tier-detail-dropdown-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tier-detail-dropdown-section label {
    margin-right: 10px;
    font-weight: bold;
}

.tier-detail-styled-dropdown {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}