.user-manager-container {
    padding: 20px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* Existing bottom margin */
    margin-top: 10px;
    /* Added top margin for consistency */
}

.header h1 {
    margin: 0;
}

.user-search-bar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    right: 5%;
    margin-bottom: 20px;
    /* Provides space below the search bar */
    /* Added for absolute positioning of search icon */
}

.search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding-right: 40px;
    /* Adjusted padding to not overlap with search icon */
}

.searching {
    position: absolute;
    right: 10px;
    /* Adjusted position */
    top: 5px;
    /* Adjusted vertical alignment */
    z-index: 10;
    color: black;
    cursor: pointer;
}

.tabs-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    /* Ensures space below tabs */
    margin-top: 10px;
    /* Added top margin for separation from search bar */
    border-bottom: 1px solid #f3f3f3;
}

.tab-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
    position: relative;
    color: black;
}

.tab-button.active {
    font-weight: bold;
    color: #000;
    /* Ensured active tab is clearly indicated */
}

.tab-button.active::after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 100%;
    background: rgb(255, 0, 0);
    /* Underline for active tab */
    position: absolute;
    bottom: 0;
    left: 0;
}

.user-table-container {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    /* Maintained bottom margin */
    margin-top: 40px;
    /* Added top margin for separation from tabs */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Rounded corners for the table */
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
    /* Maintains borders between columns */
    white-space: nowrap;
    /* Prevents text wrapping */
}

th {
    background-color: #f8f8f8;
    color: black;
    font-weight: bold;
}

tr:not(:last-child) td {
    border-bottom: none;
    /* Removes bottom borders between rows */
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-dot.active {
    background-color: green;
}

.status-dot.inactive {
    background-color: red;
}