.usermanager-container {
    padding: 20px;
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tab.active {
    background-color: #030B33;
    color: #fff;
}

.table-container {
    flex: 1;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-dot.active {
    background-color: green;
}

.status-dot.inactive {
    background-color: red;
}