/* Authenticate Provider styling */
.authenticate-provider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 20px;
    position: relative;
    width: calc(100% - 40px);
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Providers table container styling */
.providers-table-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 30px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.providers-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-x: auto;
}

.providers-table th,
.providers-table td {
    padding: 6px;
    text-align: center;
    white-space: nowrap;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.providers-table th {
    background-color: #f8f8f8;
    color: black;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.providers-table td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.providers-table td.status-indicator {
    border: none;
}

.providers-table td.actions {
    border: none;
}

.providers-table tr:first-child th:first-child,
.providers-table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

.providers-table tr:first-child th:last-child:not(.actions),
.providers-table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.providers-table tr:last-child th:first-child,
.providers-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.providers-table tr:last-child th:last-child:not(.actions),
.providers-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.status-indicator.online {
    background-color: green;
}

.status-indicator.offline {
    background-color: red;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

.actionIcon {
    cursor: pointer;
    font-size: 1rem;
    color: black;
    border: none;
}

/* Search bar styling */
.authSearchBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
}

.authSearchIcon {
    position: relative;
    left: 20px;
    color: #888;
    font-size: 18px;
    pointer-events: none;
}

.authSearchBar input {
    width: 200px;
    padding: 10px 10px 10px 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Document section styling */
.document-verification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
}

.document-section {
    width: 100%;
    max-height: 1200px;
    overflow-y: scroll;
}

.document-display {
    width: 100%;
    height: 1000px;
}

.sticky-header {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    width: 98%;
    border-bottom: 1px solid #ccc;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    gap: 5px;
    /* Decrease gap between items */
}

.Back-Button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.Back-Button:hover {
    background-color: #e0e0e0;
}

.status-Bar {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.document-heading {
    font-size: 20px;
    font-weight: bold;
}

.document-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    max-height: 1000px;
    padding: 10px;

}


.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.action-button-unique {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.action-button-unique:hover {
    background-color: darkred;
}

.comment-section {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.comment-section textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.submit-button-unique {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    width: 100px;
    height: 40px;
}

.submit-button-unique:hover {
    background-color: darkred;
}

.comment-footer {
    text-align: right;
    width: 100%;
    padding: 5px;
}

.status-toggle-container {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 20px;
}

.status-toggle-button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.status-toggle-button.active {
    background-color: #3B6115;
    color: #f0f0f0;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    .providers-table-container {
        padding: 10px;
        margin: 10px 0;
    }

    .authSearchBar input {
        width: 100%;
    }

    .providers-table th,
    .providers-table td {
        padding: 4px;
        font-size: 12px;
    }
}