.provider-profile-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.provider-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 220px);
    height: 300px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.info-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 28px;
    margin-left: 35px;
}

.info-item label {
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
}

.services-container {
    width: 95%;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 3px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.service-checkbox {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: calc(33.33% - 10px);
}

.service-checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.documentsButton {
    padding: 10px;
    background-color: #FFC107;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
    margin-top: 20px;
}

.documentsButton:hover {
    background-color: #9c7500;
}

.backButton {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.backButton:hover {
    background-color: #ccc;
}

.backButton .back-icon {
    margin-right: 5px;
}