.filter-bar {
    max-width: 100vw;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* 20px */
    margin-bottom: 1.25rem;
    /* 20px */
    margin-top: 1.25rem;
    /* 20px */
    padding: 0 1rem;
    /* Add padding to ensure it doesn't touch the edges */
    box-sizing: border-box;
    /* Ensure padding is included in the total width */
}

.filter-bar h2 {
    font-size: 1.5rem;
    /* 24px */
    font-weight: bold;
    flex: 1;
    /* Ensure equal spacing */
}

.filter-bar .small-header {
    font-size: 1rem;
    /* 20px */
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* To push the button to the right */
    gap: 1.25rem;
    /* Add gap between items */
    flex-wrap: nowrap;
    /* Prevent wrapping */
}

.inline-filters {
    display: flex;
    gap: 1.25rem;
    /* 20px */
    align-items: center;
    flex: 1;
    /* Ensure equal spacing */
    justify-content: space-around;
    /* Distribute filters evenly */
}

.filter-item-inline {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    /* 10px */
}

.filter-item-inline label {
    font-size: 1rem;
    /* 14px */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.filter-item-inline select,
.filter-item-inline .react-datepicker-wrapper .date-picker {
    padding: 0.625rem;
    /* 10px */
    font-size: 0.8rem;
    /* 12px */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    /* 5px */
    width: 180px;
    /* Fixed width */
    box-sizing: border-box;
}

.filter-item-inline .react-datepicker-wrapper {
    border: none;
    /* Remove border */
}

.filter-item-inline select::placeholder,
.filter-item-inline .date-picker::placeholder {
    color: grey;
    font-size: 0.75rem;
    /* 12px */
}

.filter-item-inline select option {
    font-size: 0.75rem;
    /* 12px */
    /* Decreased font size for dropdown items */
}

.filter-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    /* 10px */
    margin-bottom: 1.25rem;
    /* 20px */
}

.filter-btn {
    padding: 1.1rem 2.1rem;
    /* 15px 30px */
    font-size: 0.9rem;
    /* 14px */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    /* 5px */
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-btn.small-btn {
    padding: 0.2rem 1.5rem;
    /* Smaller padding */
    font-size: 0.8rem;
    /* Smaller font size */
}

.filter-btn:hover {
    background-color: #e0e0e0;
}

.filter-btn.active {
    background-color: #d0d0d0;
}

.filter-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Ensures items are spaced evenly */
    align-items: center;
    /* Ensure items are vertically aligned */
    gap: 1.5rem;
    /* 25px */
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    /* 10px */
    flex: 1;
}

.filter-item label {
    font-size: 1rem;
    /* 14px */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.filter-item select,
.filter-item .react-datepicker-wrapper .date-picker {
    padding: 0.625rem;
    /* 10px */
    font-size: 0.8rem;
    /* 12px */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    /* 5px */
    width: 180px;
    /* Fixed width */
    box-sizing: border-box;
}

.filter-item .react-datepicker-wrapper {
    border: none;
    /* Remove border */
}

.filter-item select::placeholder,
.filter-item .date-picker::placeholder {
    color: grey;
    font-size: 0.75rem;
    /* 12px */
}

.filter-item select option {
    font-size: 0.75rem;
    /* 12px */
    /* Decreased font size for dropdown items */
}

.date-picker {
    width: 180px;
    /* Fixed width */
    padding: 0.625rem;
    /* 10px */
    font-size: 0.8rem;
    /* 12px */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
    /* 5px */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .header-row {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-buttons {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-btn {
        width: 100%;
        text-align: center;
    }

    .filter-items {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-item {
        width: 100%;
    }

    .inline-filters {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-item-inline {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .filter-bar h2 {
        font-size: 1.25rem;
        /* 20px */
    }

    .filter-btn {
        padding: 0.8rem 1.5rem;
        /* 12px 24px */
        font-size: 0.8rem;
        /* 13px */
    }

    .filter-item label {
        font-size: 0.9rem;
        /* 13px */
    }

    .filter-item select,
    .filter-item .react-datepicker-wrapper .date-picker {
        font-size: 0.75rem;
        /* 12px */
    }
}